<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- GLOBAL CSS START-->
    <link rel="stylesheet" href="/css/bootstrap-4.6.0.min.css">
    <link rel="stylesheet" href="/css/style.css">
     <!-- GLOBAL CSS END-->
    <title>Login</title>